@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-8xl;
  }

  h2 {
    @apply text-6xl;
  }

  h3 {
    @apply text-4xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }

  body {
    @apply bg-zinc-800 p-4 text-white;
  }

  input:read-only {
    @apply cursor-not-allowed;
  }

  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply w-full appearance-none rounded bg-white py-3 text-black placeholder-gray-400 focus:border-gray-300 focus:ring-gray-500;
  }

  .form-icon-prefix {
    @apply pl-14;
  }

  .form-input-icon {
    @apply pointer-events-none absolute left-3 top-1/2 h-8 w-8 -translate-y-1/2 transform;
  }
}
